@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    font-family: "Lora", serif !important;
}

:root {
    --primary: #06DDCC;
    --light: #FEFEFE;
    --darkBlue: #002642;
    --black: #060606;
}

/* utiltes */
.bgPrimary {
    background: var(--primary);
}

.bgDarkBlue {
    background: var(--darkBlue);
}

.textPrimary {
    color: var(--primary);
}

.textDarkBlue {
    color: var(--darkBlue);
}

.bgblack {
    background: var(--black);
}

.textblack {
    color: var(--black);
}

.borderwhite {
    border: 1px solid var(--light);
    /* border-radius: 10px; */
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

hr {
    border: 3px solid var(--primary);
}


/* Custom ScrollBar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--darkBlue);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}

/*** Spinner Start ***/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50%;
}

.btn-primary {
    background: var(--darkBlue) !important;
    color: var(--light);
}

.btn.btn-primary {
    box-shadow: inset 0 0 0 0 var(--primary);
}

.btn.btn-primary:hover {
    box-shadow: inset 300px 0 0 0 var(--light) !important;
    color: var(--primary) !important;
    border: 1px solid var(--darkBlue) !important;
}

.btn.btn-light {
    box-shadow: inset 0 0 0 0 var(--darkBlue);
}

.btn.btn-light:hover {
    box-shadow: inset 300px 0 0 0 var(--primary);
    color: var(--bs-light) !important;
}

.btn-hover {
    transition: 0.5s;
}


/*** Section Title Start ***/
.section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--primary);
}

.section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid var(--primary) !important;
}

.section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid var(--primary) !important;
}

.sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--primary);
}

.sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--primary) !important;
}

.sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--primary) !important;
}


/*** Topbar Start ***/
.fixed-top .container {
    transition: 0.5s;
}

.topbar {
    padding: 2px 10px 2px 20px;
    background: var(--bs-primary) !important;
}

.topbar a,
.topbar a i {
    transition: 0.5s;
}

.topbar a:hover,
.topbar a i:hover {
    color: var(--bs-secondary) !important;
}


@media (max-width: 576px) {
    .topbar {
        display: none;
    }
}

/*** Topbar End ***/


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    font-weight: 600;
    margin-right: 25px;
    padding: 35px 0;
    color: var(--dark) !important;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    font-weight: 600;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-light .navbar-brand img {
    max-height: 80px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 70px;
}



@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: var(--light);
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid var(--primary);
        color: var(--primary);
    }

    .navbar.navbar-expand-lg .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 70px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        z-index: 999;
    }

    .sticky-top.navbar-light {
        position: fixed;
        background: rgba(0, 38, 66, 1) !important;
        color: var(--light) !important;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .navbar-light .navbar-brand img {
        max-height: 70px;
    }
}

@media (max-width: 375px) {
    .navbar-light .navbar-brand img {
        max-height: 60px;
    }
}

@media only screen and (min-width: 600px) {
    .navbar-light .navbar-brand img {
        max-height: 70px;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-light .navbar-brand img {
        max-height: 70px;
    }
}

/*** Carousel Hero Header Start ***/
.header-carousel {
    position: relative;
}

.header-carousel-item {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 39, 66, 0.075);
    /* Adjust the opacity as needed */
    z-index: 1;
}

.header-carousel-item img {
    position: relative;
    z-index: 0;
}

.carousel-caption {
    position: relative;
    z-index: 2;
}

/* Hide navigation buttons */
.owl-nav,
.owl-prev,
.owl-next {
    display: none;
}

.header-carousel .header-carousel-item .carousel-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
}

.header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
    position: relative;
    width: 75%;

}

.header-carousel .header-carousel-item,
.header-carousel .header-carousel-item img {
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 95px;
    display: block;
    object-fit: cover;
    transition: 0.5s;

}

@media (max-width: 375px) {
    .navbar-light .navbar-brand img {
        max-height: 60px;
    }
}

@media (max-width: 576px) {

    .header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
        width: fit-content !important;
    }

}


@media (max-width: 992px) {

    .header-carousel .header-carousel-item,
    .header-carousel .header-carousel-item img {
        margin-top: 0;
        transition: 0.5s;
    }

}


/* Responsive Styles */
@media (max-width: 768px) {
    .carousel-caption h5 {
        font-size: 1.2rem;
    }

    .carousel-caption h1 {
        font-size: 2rem;
    }

    .carousel-caption p {
        font-size: 1rem;
    }

    .carousel-caption-content {
        padding: 10px;
    }

    .btn {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .carousel-caption h5 {
        font-size: 1rem;
    }

    .carousel-caption h1 {
        font-size: 1.5rem;
    }

    .carousel-caption p {
        font-size: 0.8rem;
    }

    .carousel-caption-content {
        padding: 5px;
    }

    .btn {
        font-size: 0.8rem;
        padding: 5px 10px;
    }
}


/*** Carousel Hero Header End ***/


/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/carousel-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0 60px 0;
}

.bg-breadcrumb .breadcrumb-item a {
    color: var(--bs-white) !important;
}

/*** Single Page Hero Header End ***/




/*** About Start ***/
.about .about-img {
    position: relative;
    overflow: hidden;
    height: fit-content !important;
    border-radius: 10px;
}

.about .about-img .about-img-inner {
    position: absolute;
    left: 0;
    bottom: 0;
    border: 10px solid;
    border-color: var(--bs-white) var(--bs-white) var(--bs-white) var(--bs-white);
    border-radius: 50%;

}

.about .about-img .about-img-inner img {
    width: 250px !important;
    height: 240px !important;

}

.about .about-img .about-experience {
    position: absolute;
    top: 125px;
    left: -125px;
    transform: rotate(-90deg);
    background: transparent;
    color: var(--primary);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;
}

/*** About End ***/

/*** Service Start ***/
.service .service-item {
    box-shadow: 0 0 45px rgba(0, 38, 66, 0.2);
    color: #FEFEFE;
    border: 1px solid #06DDCC;
    border-radius: 5px;

}

.service .service-item .service-img {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.service .service-item .service-img img {
    transition: 0.5s;
}

.service .service-item .service-img::before {
    width: 100%;
    height: 0;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.5s;
    z-index: 5;

}

.service .service-item:hover .service-img::before {
    height: 100%;
    color: #FEFEFE !important;
}

.service .service-item .service-img:hover img {
    transform: scale(1.3);
}

.service .service-item .service-content {
    position: relative;
    z-index: 2;
    min-height: 21rem;
    background: rgba(0, 38, 66, 1) !important;
    color: var(--light);
}


.service .service-item:hover .service-content::before {
    height: 100%;
    color: var(--light) !important;
}

.service .service-item .service-content .service-content-inner {
    transition: 0.5s;

}


.service .service-item:hover .service-content .service-content-inner {
    position: relative;
    color: var(--light) !important;
    z-index: 9;
}

.service .service-item:hover .service-content .service-content-inner h5 {
    color: var(--primary);
}

/*** Service End ***/


/*** Feature Start ***/
.feature .feature-item {
    position: relative;
    display: flex;
    border: 1px solid var(--bs-primary);
    border-radius: 10px;
    background: var(--bs-light);
    transition: 0.5s;

}

.feature .feature-item::before {
    width: 0;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.feature .feature-item:hover::before {
    width: 100%;
    background: var(--bs-primary);
}

.feature .feature-item .feature-icon {
    display: inline-flex;
    border-radius: 10px;
    transition: 0.5s;
}

.feature .feature-item:hover .feature-icon {
    position: relative;
    z-index: 2;
}

.feature .feature-item:hover .feature-content {
    position: relative;
    color: var(--bs-white);
    z-index: 2;
}

.feature .feature-item:hover .feature-content h5 {
    color: var(--bs-dark);
}

/*** Feature End ***/



/*** Footer Start ***/
.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/carousel-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer .footer-item a {
    line-height: 35px;
    color: var(--bs-body);
    transition: 0.5s;
}

.footer .footer-item p {
    line-height: 35px;
}

.footer .footer-item a:hover {
    letter-spacing: 2px;
    color: var(--bs-primary);
}

/*** Footer End ***/

/*** copyright Start ***/
.copyright {
    background: var(--bs-dark) !important;
}

/*** copyright end ***/
.form-group {
    margin-bottom: 1.5rem;
}

.form-group input {
    border: 1px solid var(--light) !important;
    border-radius: 5px;
    background: transparent;
    color: var(--dark) !important;
}


::placeholder {
    color: var(--dark) !important;
}

.form-control {
    height: 3.7rem;
    padding: 0.3rem 1.1rem;
    border: none;
    font-size: 1rem;
    border: 1px solid var(--dark) !important;
    box-shadow: 0 .1rem 1.2rem 0 rgba(0, 0, 0, 0.556);
}

.form-control:focus {
    outline: 0 !important;
}

.textarea {
    width: 100%;
    border-radius: 0.3rem;
    font-size: 1rem;
    box-shadow: 0 .1rem 1.2rem 0 rgb(0 0 0 / 12%);
    border: 1px solid var(--light);
    background: transparent;
    padding: 1rem;
    color: var(--dark);
}

.textarea:focus {
    outline: none;
    color: var(--dark);
    background: transparent !important;
}

/* whatsapp  */
/* Styles for the WhatsApp button */
.whatsappBtn {
    position: fixed;
    bottom: 20px;
    /* Adjust as needed */
    right: 20px;
    /* Adjust as needed */
    z-index: 9999;
}

/* Styles for the WhatsApp button image */
.whatsappBtn img {
    max-width: 100%;
    height: auto;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .whatsappBtn {
        width: 50px;
        /* Adjust as needed */
        height: 50px;
        /* Adjust as needed */
    }
}

@supports (-webkit-touch-callout: none) {
    .whatsappBtn {
        width: 50px;
        /* Adjust as needed */
        height: 50px;
        /* Adjust as needed */
    }
}

.whatsappBtn {
    position: fixed;
    bottom: 20px;
    /* Adjust as needed */
    right: 20px;
    /* Adjust as needed */
    z-index: 9999;
}

/* Styles for the WhatsApp button image */
.whatsappBtn img {
    max-width: 100%;
    height: auto;
}